<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title th:text="${titulo}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#"
                                    tabindex="-1" aria-disabled="true">Disabled</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-secondary border border-top-0 border-right-0 border-left-0" th:text="${titulo}"></h1>


    <div th:object="${cliente}" th:remove="tag">
		<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
				role="alert">
		<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</div>

    <form th:action="@{/form}" th:object="${cliente}" method="POST">
      
        <div class="form-group row">
            <label  for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
            </div>
        </div>

         <div class="form-group row">
            <label  for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
            </div>
        </div>

         <div class="form-group row">
            <label  for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
        </div>

        <div class="form-group row">
            <label  for="createdAt" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{createdAt}" class="form-control" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></small>
            </div>
        </div>

        <div class="form-group row">   
            <div class="col-sm-6">
                <input type="submit" value="Crear Cliente" class="btn btn-primary">
                <a th:href="@{/listar}" class="btn btn-danger" role="button">Cancelar</a>
            </div> 
        </div>
    </form>
</div>


<div class="container">
    <hr>
    <footer>
        <p>&Copy; Company 2018</p>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>